In [1]:
# Standard
import numpy as np
import pandas as pd

In [2]:
# Stats
from scipy import stats

In [3]:
# Plotting 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
from __future__ import division

In [6]:
WineDataFrame = pd.read_csv('WineDataFrameTwo.csv')

In [7]:
WineDataFrame

,Unnamed: 0,Restaurant Wine,Restaurant Wine.1,Restaurant Wine.2,Restaurant Wine.3,Restaurant Wine.4,Restaurant Wine.5,Restaurant Wine.6,Restaurant Wine.7,Restaurant Wine.8,Restaurant Wine.9
0,0,22,16,21,19,29,20,23,29,39,34
1,1,5,2,4,6,3,3,4,5,2,5
2,2,3,1,1,2,5,5,6,4,8,3
3,3,1,2,1,0,0,2,2,1,1,3
4,4,6,4,8,2,6,9,4,7,8,4
5,5,8,6,5,7,5,7,4,4,8,7
6,6,2,0,0,1,0,2,2,0,0,2
7,7,2,3,2,2,0,3,2,1,4,2
8,8,2,4,1,2,1,0,2,0,1,1
9,9,0,6,4,3,3,2,3,0,3,0
10,10,1,1,2,1,0,2,1,0,3,1
11,11,2,0,2,3,2,5,5,7,10,12
12,12,9,15,12,13,9,11,20,15,29,19
13,13,0,3,2,1,0,1,1,2,5,2
14,14,6,5,5,8,11,5,5,10,17,7
15,15,7,10,5,11,16,14,9,12,19,21

In [34]:
WineDataFrame.columns = ['Index','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']

In [35]:
del WineDataFrame['Index']

In [36]:
WineDataFrame = WineDataFrame.transpose()

In [37]:
WineDataFrame['Year'] = ['2005','2006','2007','2008','2009','2010','2011','2012','2013','2014',]
WineDataFrame.head()

      0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  Year
2005  8  1  4  0  0  5  1  0  2  0   1   0   2   0   2   5  2005
2006  6  0  0  1  0  2  1  1  2  0   1   0   0   0   3   0  2006
2007  7  0  3  5  0  0  0  0  0  0   1   1   1   1   8   0  2007
2008  6  1  3  1  1  2  1  0  0  0   0   0   1   0   4   1  2008
2009  7  0  2  1  2  6  0  0  0  1   1   0   0   1   7   1  2009

In [38]:
import csv

WineDataFrame.to_csv('predictEating.csv')